td{
    background-color: lightgrey;
}

.tabella-full-width{
    width: 100%
}

.centrato{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.larghezza-25{
    width: 25%;
}

.larghezza-75{
    width: 75%;
}

.articolo{
    padding: 15px;
    text-align: justify;
}

.immagine-full-width{
    width: 100%
}

.div-floating{
    float: left;
}