.tabella-personalizzata{
    width: 100%;
}

.intestazione-tabella{
    font-size: x-large;
    color: gray;
}

p{
    text-align: justify;
}

/* .tabella-secondaria{
    margin: 50px;
} */

.tabella-secondaria td{
    background-color: lightgrey;
    padding: 15px 15px 15px 15px;
}

.larghezza-25{
    width: 25%;
}

.larghezza-50{
    width: 50%;
}